*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-form {
    font-size: 35px;
    margin: 2rem;
    display: flex;
}
.form__item {
    padding: 1rem;
    display: flex;
}
.item__radio {
    display: flex;
    flex-direction: row;
}
